.navbar{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu{
  margin-right: 24px;
}

@media screen and (max-width: 720px) {
  .navbar{
    flex-direction: column;
  }
  .menu{
    margin-right: 12px;
  }
}